#box {
  position: absolute;
  width: 900px;
  height: 220px;
  background-color: black;
  left: 78px;
  top: 122px;
  background-image: linear-gradient(rgb(44, 0, 85), rgb(51, 0, 80));
  border-radius: 15px;
}
