#friend {
  width: 400px;
  height: 610px;
  line-height: 3em;
  overflow: auto;
  padding: 5px;
  position: absolute;
  left: 1095px;
  top: 122px;
  background-image: linear-gradient(rgb(44, 0, 85), rgb(51, 0, 80));
  border-radius: 15px;
}
